* {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-family: 'Maple Mono NF', 'JetBrainsMono NF', Roboto, sans-serif;
  min-height: 0px;
  min-width: 0px;
}

window#waybar {
  background: transparent;
  border: none;
  font-family: 'Maple Mono NF', 'JetBrainsMono NF', Roboto, sans-serif;
  color: @foreground;
}

tooltip {
  background: @popover;
  border: 1px solid @border;
  border-radius: 10px;
  padding: 12px;
}

tooltip label {
  color: @popoverForeground;
}

#cpu,
#backlight,
#temperature,
#wireplumber,
#network,
#custom-notifications,
#battery,
#clock,
#workspaces button,
#window, /*hyprland active windows*/
#custom-power {
  background: @card;
  color: @cardForeground;
  border: 2px solid @border;
  border-radius: 10px;
  padding: 10px 10px;
  min-width: 22px;
  margin-left: 4px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 2, 20, 0.4);
}

#window {
  background: linear-gradient(90deg, @secondary 0%, @primary 50%);
  color: @accentForeground;
}

#workspaces {
}

#workspaces button {
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button:hover {
  /* background: linear-gradient(90deg, @Surface1 0%, @Surface1 100%); */
  background-color: @accent;
  color: @accentForeground;
}

/* #wireplumber.muted */
/* #wireplumber.sink-muted */
/* #wireplumber.source-muted */

#custom-notifications {
  color: @warning;
  /* margin-bottom: 10px; */
}

#mode {
  padding: 0 10px;
  background: #64727d;
  border-bottom: 3px solid white;
}

/* #temperature.warning #temperature.critical  */

#battery.charging {
  /* background-color: @success; */
  /* border: 2px solid @success; */
  color: @success;
}

#battery.warning:not(.charging) {
  background: @destructive;
  color: @destructiveForeground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

menu {
  background: @background;
  color: @foreground;
  border: 2px solid @border;
  border-radius: 10px;
  padding: 6px;
}

menuitem {
  color: @foreground;
  border-radius: 8px;
  padding: 10px 12px;
  transition: all 0.3s ease-in-out;
}

menuitem label {
  color: inherit;
  font-size: 15px;
}

menuseparator {
  background-color: @muted;
}

menuitem:hover {
  background: @muted;
}

menuitem.reboot:hover {
  background: @warning;
  color: @warningForeground;
}

menuitem.shutdown {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: @destructive;
}

menuitem.shutdown:hover {
  background: @destructive;
  color: @destructiveForeground;
}

menuseparator {
  background-color: @muted;
  margin: 6px 4px;
}

#custom-power {
  color: @destructive;
}

#custom-power:hover {
  background-color: @accent;
  color: @accentForeground;
}

/* TODO: Crear una animacion cuando la bateria este baja */

@keyframes blink {
  to {
    background-color: @destructive;
    color: @destructiveForeground;
  }
}
